<!-- Accounts -->

<div class="col-lg-6">
    <div class="card h-100">
        <div class="card-header">
            <h3>Accounts</h3>
        </div>
        <div id="accounts-card" class="card-body">
            {% include 'account_panel.html' %}
        </div>
    </div>
</div>

<!-- Ledger -->

<div class="col-lg-3">
    <div class="card h-100">
        <div class="card-header">
            <h3>Ledger</h3>
        </div>
        <div class="card-body" id="ledger">
            {% include 'ledger_panel.html' %}
        </div>
    </div>
</div>

<!-- Events -->

<div class="col-lg-3">
    <div class="card h-100">
        <div class="card-header">
            <h3>Events</h3>
        </div>
        <div class="card-body">
            {% include 'event_panel.html' %}
        </div>
    </div>
</div>
